extends TopBar
doctype html
append scripts
    link(rel='stylesheet' href='stylesheets/emptyDashboard.css')



append content
    br
    h1(style="text-align: center; margin-top: 3%;") You have successfully logged in.
